<div class="row">
	<div class="col-2 d-flex justify-content-center align-items-center cell">
		{{order.order_id}}
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center cell">
		{{order.driver_phone}}
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center cell">
		{{order.pass_phone}}
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center cell">
		<rating
			[(ngModel)]="order.rating"
			[max]="5"
			[readonly]="true"
			(click)="onRatingClick()"
		>
		</rating>
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center cell">
		<button type="button" class="btn btn-danger" (click)="onCloseClick()">
			Close
		</button>
	</div>
	<div class="col-2 d-flex justify-content-center align-items-center cell">
		<button type="button" class="btn btn-success" (click)="onDetailsClick()">
			Show Details
		</button>
	</div>
</div>
