<div class="container py-5">

	<div class="title" (click)="onTitleClick()">
		{{ title | uppercase }}
	</div>

	<div class="py-5">
		<router-outlet *ngIf="!errorAlert">

		</router-outlet>

		<alert *ngIf="errorAlert" type="danger">
			<strong>Warning!</strong> {{errorAlert}}
		</alert>

	</div>

</div>
