<div class="container-fluid">

	<div class="row">
		<div class="col-12 d-flex justify-content-center align-items-center cell">
			Details of Order
		</div>
	</div>

	<div class="row">
		<div class="col-6 d-flex justify-content-center align-items-center cell-b">
			ID
		</div>
		<div class="col-6 d-flex justify-content-center align-items-center cell">
			{{order?.order_id}}
		</div>
	</div>
	<div class="row">
		<div class="col-6 d-flex justify-content-center align-items-center cell-b">
			Driver Phone
		</div>
		<div class="col-6 d-flex justify-content-center align-items-center cell">
			{{order?.driver_phone}}
		</div>
	</div>
	<div class="row">
		<div class="col-6 d-flex justify-content-center align-items-center cell-b">
			Passenger Phone
		</div>
		<div class="col-6 d-flex justify-content-center align-items-center cell">
			{{order?.pass_phone}}
		</div>
	</div>
	<div class="row">
		<div class="col-6 d-flex justify-content-center align-items-center cell-b">
			Rating
		</div>
		<div class="col-6 d-flex justify-content-center align-items-center cell">
			<rating
				[(ngModel)]="rating"
				[max]="5"
				[readonly]="false"
				(click)="onRatingClick()"
			>
			</rating>
		</div>
	</div>

	<div class="col-12 d-flex justify-content-center my-1">
		<button type="button" class="btn btn-success"
				(click)="onSubmitClick()">
			{{isRateChanged ? 'Submit' : 'Close'}}
		</button>
	</div>

</div>
