.cell {
	height: 50px;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, .1);
}

.cell-b {
	height: 50px;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, .1);
	font-weight: bold;
}

rating {
	color: #F7CE08;
}
