<div class="container-fluid">
	<div class="row">
		<div class="col-12 d-flex justify-content-center align-items-center cell">
			Orders
		</div>
	</div>
	<div class="row">
		<div class="col-2 d-flex justify-content-center align-items-center cell">
			ID
		</div>
		<div class="col-2 d-flex justify-content-center align-items-center cell">
			Driver Phone
		</div>
		<div class="col-2 d-flex justify-content-center align-items-center cell">
			Passenger Phone
		</div>
		<div class="col-2 d-flex justify-content-center align-items-center cell">
			Rating
		</div>
		<div class="col-4 d-flex justify-content-center align-items-center cell">
			Actions
		</div>
	</div>

	<u-order-row
		*ngFor="let o of pageOrders"
		[order]="o"
		(close)="onOrderClose($event)"
		(details)="onOrderDetails($event)"
		(rating)="onOrderRating($event)"
	>
	</u-order-row>

	<pagination
		class="d-flex justify-content-center my-1"
		*ngIf="wsService.getAllOrders().length > itemsPerPage"
		[totalItems]="wsService.getAllOrders().length"
		[itemsPerPage]="itemsPerPage"
		[maxSize]="5"
		[(ngModel)]="currentPage"
	></pagination>
</div>
