@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,400i,700');

html, html * {
	font-family: Oxygen, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

body {
	background-color: #F2F2F2;
}
